@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  min-height: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-size: 6rem;
}

p,
a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: rgb(91, 222, 126);
}